<div class="container">
    <div class="row">


    </div>
    <div class="row">

        <div class="col s8 m5">


            <div class="row">
                <p>TITLE: {{project.project_title}}</p>

                <p>ABOUT: {{project.description}}</p>

                <div class="row">
                    <p> Milestones: </p>

                    {{#each project.steps as |step|}}
                    <p>{{step.step_number}}. {{step.title}}: {{step.description}}</p>
                    {{/each}}
                </div>
            </div>

        </div>


        <div class="col s4 m5">

            <div class="row">
                <p> References: </p>

                {{#each project.steps.references }}
                <p>{{reference}}</p>
                {{/each}}
            </div>


        </div>
    </div>
</div>