<div class="container-fluid">

    <div class="row">

        <div class="col s12">

            <input type="hidden" name="project-id" value={{project.id}} />
            <div class="row">
            <div class="col s6">
                <h2>{{project.project_title}}</h2>

                <h5>ABOUT: {{project.description}}</h5>
                </div>
                <div class="col s6 rect1">
                    <h5>CURRENT PROGRESS:</h5>
                 <div id="rect"></div>
                 
                 </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card panel col s8" id="project_card">
            <div class="row">
                <h5> Milestones: </h5>


                {{#each project.steps as |step|}}
                <div class="row projectstep">
                    <div class="col s6">
                        <div class="col s8">
                            <div class="col s6">
                                <input type="hidden" name="project-id" value={{step.id}} class={{step.step_number}} />

                                <p>{{step.step_number}}. {{step.title}}:
                            </div>
                            <div class="col s6">
                                <p> {{step.description}}</p>
                            </div>
                        </div>
                        <div class="col s4">

                            <p class="current_status" id="{{step.progress_id}}"></p>

                        </div>
                    </div>
                    <div class="col">
                        <!-- Dropdown Trigger -->

                        <a class='dropdown-trigger statustrig btn ' id={{{step.id}}} href='#'
                            data-target='statusdropdown'>Status</a>

                        <!-- Dropdown Structure -->
                        <div id={{step.id}}>
                            <ul id='statusdropdown' onchange="moveProgressBar(value)" class='dropdown-content status'>
                                <li><a class="btn-flat statusdropdownitem {{step.id}}" value={{step.id}} id="1"
                                        href="#!">Planning</a></li>
                                <li><a class="btn-flat statusdropdownitem {{step.id}}" value={{step.id}} id="2"
                                        href="#!">To Do</a></li>
                                <li><a class="btn-flat statusdropdownitem {{step.id}}" value={{step.id}} id="3"
                                        href="#!">In Progress</a></li>
                                <li><a class="btn-flat statusdropdownitem {{step.id}}" value={{step.id}} id="4"
                                        href="#!">Done</a></li>
                        </div>
                        </ul>
                    </div>

                    <div class="col">
                       

                           
                        
                    </div>
                </div>
                {{/each}}

                <div id="myModal" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close">&times;</span>

                        <form class="col s12">
                            <div class="row">


                                <div class="input-field col s4">
                                    <input id="title" type="text" class="validate">
                                    <label for="title">Step Title</label>
                                </div>
                                <div class="input-field col s8">
                                    <input id="description" type="text" class="validate">
                                    <label for="description">Description</label>
                                </div>
                            </div>
                            <div class="row">
                                <a class="waves-effect waves-light btn submitstep">Add</a>
                            </div>
                        </form>
                    </div>

                </div>

                <a class="waves-effect waves-light btn addstep">Add Step</a>

            </div>

        </div>









        <div class="card panel col s2" id="project_card">

            <div class="row">
                <p> References: </p>

                {{#each project.references }}
                <a href="{{reference}}">{{reference}}</a>
                {{/each}}

            </div>
            <a class="waves-effect waves-light btn addref">Add Reference</a>

        </div>
    </div>
</div>




<body>
    <script src="/js/addstep.js"></script>
    <script src="/js/project.js"></script>

    <script src="/js/progressbarstat.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>









</body>